* { box-sizing: border-box; }

html, body { 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.hide-behind,
.splash,
.game-init,
.game-main,
.game-over {
  position: absolute;
  width: 100%;
}

.splash {
  position: fixed;
  top: 200px;
  //height: 500px;
  width: 500px;
  border: 5px solid gray;
  left: 37%;
  top: 50px;
  background: white;
  .splash-go {
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    height: 50px;
    outline: none;
    border: none;
    border-top: 2px solid gray;
    transition: all ease 0.5s;
    background: #ddd;
    font-size: 20px;
    &:hover {
      background: #fff;
    }
  }
}

.game-init {
  position: fixed;
  top: 100px;
  width: 500px;
  min-height: 400px;
  max-height: 800px;
  overflow: auto;
  border: 5px solid gray;
  left: 37%;
  top: 50px;
  background: #fff;
  .username {
    text-align: center;
    width: 90%;
    height: 50px;
    font-size: 40px;
    line-height: 40px;
  }
  h4 { 
    margin: 5px auto; 
    font-style: italic;
  }
  .select-container {
    border: 2px solid gray;
    width: 90%;
    //height: 200px;
    margin: 0 auto;
    overflow: auto;
    background-color: #ddd;
    .game-select {
      position: relative;
      border: 1px solid gray;
      display: inline-block;
      width: 45%;
      height: 100px;
      margin: 1%;
      box-shadow: 0 0 0 white;
      transition: all ease 0.2s;
      &:after {
        content: "";
        background: black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity ease 0.5s;
      }
      &:hover:after {
        opacity: 0;
      }
    }
    .game-select-highlight {
      box-shadow: 0 0 3px white;
      &:after { opacity: 0; }
    }
    .game-scene {
      background-size: contain;
      &[data-scene="hedges"] { background-image: url('/img/hedgerow.svg'); }
      &[data-scene="woods"] { background-image: url('/img/scene-forest.svg'); }
    }
  }
  .game-go {
    width: 100%;
    height: 50px;
    font-size: 20px;
    outline: none;
    border: none;
    border-top: 2px solid gray;
    background: #ddd;
    margin-top: 20px;
    bottom: 0;
    transition: all ease 0.5s;
    &:hover {
      background: #f00;
    }
  }
}

.hide-behind {
  z-index: 0;
  background: white;
  height: 100%;
  min-height: 1000px;
  background-image: url('/img/hedgerow.svg');
}

.fog {
  z-index: 4;
  background: black;
  opacity: 0.8;
}

.game-main {
  height: 900px;
  
  .menu-bar {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    opacity: 0.8;
    text-align: right;
    line-height: 50px;
    padding: 10px 20px;
    color: black;
    &>* {
      display: inline-block;
      height: 75px;
      width: 75px;
      margin: 0 10px;
      background: white;
      border-radius: 50%;
      line-height: 70px;
      text-align: center;
      transition: all ease 0.5s;
      &:hover {
        background: gray;
        color: white;
      }
      span {
        font-size: 50px;
        margin-top: 10px;
       }
    }
  }

  .combat-viewport {
    position: absolute;
    bottom: 0;
    height: 660px;
    //padding: 10px 0;
    .player1-container,
    .player2-container {
      width: 300px;
      height: 300px;
      position: absolute;
      bottom: 200px;
      padding-top: 100px;  
    }
    .player1-container {
      left: 300px;
      //background: green;
    }
    .player2-container {
      left: 1100px;
      //background: red;
    }
  }

  .hud {
    //background: #00a;
    position: fixed;
    bottom: 0;
    height: 240px;
    width: 100%;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    overflow: hidden;
    &>div {
      display: inline-block;
      height: 240px;
      vertical-align: top;
    }
    .left-stats, 
    .right-stats {
      width: 15%;
      //border: 1px solid gray;
      position: absolute;
      bottom: 0;
    }
    .left-stats  { left: 0; }
    .right-stats { right: 0; } 
    
    .health-box {
      position: absolute;
      border: 80px solid transparent;
      border-top-color: red;
      border-radius: 50%;
      height: 500px;
      width: 500px;
      top: -5px;
      &.player1 {
        left: -250px;
        transform: rotateZ(45deg);
      }
      &.player2 {
        right: -250px;
        transform: rotateZ(-45deg);
      }
    }

    .stat-box {
      position: absolute;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background: white;
      bottom: 15px;
      line-height: 30px;
      font-size: 30px;
      text-align: center;
      .health-percentage { 
        display: block;
        margin-top: 15px; 
      }
      hr { 
        border: 2px solid black; 
        margin: 5px 0;
      }
      .status {
        font-size: 30px;
      }
      &.player1 { left: 15px; }
      &.player2 { right: 15px; }
    }
    
    .left-options,
    .right-options {
      width: 20%;
      //border: 1px solid gray;
      position: absolute;
      bottom: 0;
      height: 240px;
      .name {
        background-color: #eee;
        height: 30px;
        line-height: 30px;
        border: 2px solid gray;
        border-radius: 25px 25px 0 0;
        font-weight: bold;
        &.player1 { color: green; }
        &.player2 { color: red; }
      }
      .abilities div {
        height: 30px;
        line-height: 30px;
        border: 2px solid gray;
        text-align: center;
        background: #eee;
        &:hover {
          background: #ccc;
        }
      }
      .descriptions {
        border: 2px solid gray;
        background: black;
        color: white;
        border-radius: 0 0 30px 30px;
        height: 60px;
        padding-top: 10px;
        bottom: 0;
      }
    }
    .left-options  { 
      left: 15%; 
    }
    .right-options { 
      right: 15%; 
    }
    .action-queue {
      border: 5px double green;
      border-radius: 10%;
      background-color: black;
      width: 30%;
      padding-top: 5px;
      textarea {
        border: none;
        color: #fff;
        background: #000;
        outline: none;
        width: 90%;        
      }
    }
  }
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity ease 1s;
  .game-over-fog {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.7;
  }
  .game-over-inner {
    position: relative;
    z-index: 4;
    background: #eee;
    margin: 0 auto;
    margin-top: 100px;
    opacity: 1;
    width: 400px;
    height: 200px;
    border: 2px solid gray;
    .game-reload {
      position: absolute;
      width: 100%;
      background: #ccc;
      outline: none;
      bottom: 0;
      left: 0;
      font-size: 30px;
      height: 50px;
    }
  }
}

.fade-in {
  opacity: 1;
}

//Roundlings
@import 'characters';
